<div class="block">
  <h3>Status</h3>
  <div class="content">    

    <%= link_to_remote "Wakeup", :url => wakeup_nabaztag_path()   %> | 
    <%= link_to_remote "Sleep", :url => sleep_nabaztag_path()   %>  

  </div>
</div>

